.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
}

label {
  display: block;
  max-width: 500px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  max-width: 100px;
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
  transition: all 0.3s ease;
  transform: scale(1.2);
}
