h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #666;
  text-align: center;
}

div {
  margin: 0 auto;
}

@media screen and (min-width: 380px) {
  div {
    max-width: 380px;
  }
}

@media screen and (min-width: 768px) {
  div {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  div {
    max-width: 1024px;
  }
}
